<!-- que no 1 -->
<!-- <app-first></app-first>
<app-second></app-second> -->
<!-- que no 2 -->
<!-- <h1>Demonstration of Calling Function using String Interpolation</h1>
<h2>Function's return value is : {{fun()}}</h2> -->
<!-- que no 3 -->
<!-- <h1>Demonstration of Event Binding</h1>
<button (click)="swap()">Click Me</button>
<H2>{{swapText}}</H2> -->
<!-- que no 4 -->
<h1>Demonstration of UpperCase and LowerCase Methods</h1>
<h2>{{Name}}</h2>
<button (click) = "Upper()">Upper</button>
<button (click) = "Lower()">Lower</button>

<router-outlet />
